<!-- Navigation bar -->
<header>
	<div id="logo"><a href="/"><img src="/assets/logo.png" alt="YouRe-Do"/></a></div>
	
	<% if signed_in? %>
            <%= form_tag search_users_path, :method => 'get', :class => 'form-wrapper' do %>
    				<%= text_field_tag :search, params[:search], :id => 'search', :placeholder => 'Cerca nel sito...' %>
    				<%= submit_tag "Cerca", :name => nil, :class => 'btnRicerca' %>
			<% end %>
	<% end %>
		<nav class="menuaccediiscriviti"> 
			<ul>
				<% if not signed_in? %>
					<li>
						<%= link_to "Iscriviti", signup_path %>
					</li>
					<li>
						<%= link_to "Accedi", signin_path %>
					</li>		
				<% else %>
					<li>
						<%= link_to "Logout", signout_path, method: "delete" %>
					</li>
					<li class="gravatar">
						<%= gravatar_for current_user, size: 25 %> <%= current_user.name %>
					</li>
					<li class="icone">
						<a href="#"><img src="/assets/icona1.png" alt="eventi"/></a>
            			<a href="#"><img src="/assets/icona2.png" alt="messaggi"/></a>
            			<a href="#"><img src="/assets/icona3.png" alt="materiali"/></a>
            		</li>
				<% end %>
			</ul>	
		</nav>	
</header>

			
<!--header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "room5t", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Help", help_path %>
					</li>
					<% if signed_in? %>
					<li>
						<%= link_to "Users", users_path %>
					</li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Profile", current_user %>
							</li>
							<li>
								<%= link_to "Settings", edit_user_path(current_user) %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<li>
						<%= form_tag search_users_path, :method => 'get', :class => 'form-search' do %>
  							<p>
    							<%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
    							<%= submit_tag "Search", :name => nil, :class => 'btn' %>
  							</p>
						<% end %>
					</li>
					<% else %>
					<li>
						<%= link_to "Sign in", signin_path %>
					</li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header-->